@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-align: justify;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aaccdd;
}

#container {
  position: relative;
  margin: 50px;
  width: 100%;
  min-height: 1000px;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #fff;
  box-shadow: 15px 35px 25px rgba(0, 0, 0, 0.2);
}

.left-section {
  position: relative;
  padding: 20px;
  background-color: #003147;
  color: #fff;
}

header {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

header img {
  width: 240px;
  height: 240px;
  margin-bottom: 17px;
  border-radius: 50%;
}

header h2 {
  padding-bottom: 10px;
  width: 90%;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.7em;
  font-weight: 600;
  letter-spacing: 0.3px;
}

header h2 span {
  font-size: 0.6em;
  font-weight: 400;
}

header p {
  padding: 15px;
}

.info-box {
  padding: 13px;
}

.info-box h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.27em;
  letter-spacing: 1px;
}

.left-section .info-box h2 {
  margin-bottom: 7px;
}

.info-box ul {
  list-style: none;
}

.contact-logo {
  margin-bottom: 7px;
  color: #03a9f4;
}

.contact-txt {
  margin-left: 9px;
  color: #fff;
  font-size: 0.85em;
  font-weight: 300;
  text-decoration: none;
}

.education-item {
  margin-bottom: 8px;
}

.education-date {
  margin-bottom: 0px;
  color: #03a9f4;
  font-weight: 500;
}
.education-title {
  margin-bottom: 0px;
  font-weight: 600;
}

.education-institution {
  margin-bottom: 0px;
  font-weight: 300;
}

.lang-txt {
  margin-bottom: 5px;
}

.lang-bar-bg {
  margin-bottom: 9px;
  height: 7px;
  width: 100%;
  background-color: #081921;
}

.lang-bar-fg {
  height: 2.4px;
  background-color: #03a9f4;
}

.lang-bar-en {
  width: 71%;
}

.lang-bar-sp {
  width: 93%;
}

.right-section {
  padding: 20px;
  position: relative;
  background-color: #fff;
  color: #333;
}

.right-section h2 {
  color: #003147;
}

.right-section .info-box h2 {
  margin-bottom: 20px;
}

.experience-item {
  margin-bottom: 26px;
  display: grid;
  grid-template-columns: 2fr 5fr;
}

.experience-left {
  margin-right: 20px;
  padding-top: 4.5px;
  min-width: 170px;
}

.experience-left h4 {
  color: #848c90;
  text-transform: uppercase;
}

.experience-year {
  font-size: 0.85em;
  font-weight: 500;
  margin-bottom: 4px;
}

.experience-company {
  font-size: 1.14em;
  font-weight: 700;
}

.experience-right h4 {
  color: #2a7da2;
  font-weight: 700;
  font-size: 1.1em;
  text-transform: uppercase;
}

.skill-item {
  margin-bottom: 17px;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 5fr;
}

.skill-bar-bg {
  height: 12px;
  width: 100%;
  background-color: #f0f0f0;
}

.skill-bar-fg {
  height: 100%;
  background-color: #03a9f4;
}

.skill-text {
  color: #848c99;
  font-weight: 500;
  text-transform: uppercase;
}

@media (max-width: 1000px) {
  #container {
    margin: 10px;
    grid-template-columns: 1fr;
  }

  .left-section .info-box h2 {
    margin-bottom: 20px;
  }

  .contact-txt {
    font-size: 1em;
  }

  .contact-item {
    margin-bottom: 10px;
  }

  .education-item {
    margin-bottom: 17px;
  }

  .lang-item {
    margin-bottom: 25px;
  }
}

@media (min-width: 600px) and (max-width: 1000px) {
  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .education-item {
    padding-bottom: 7px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
  }

  .education-date {
    margin-bottom: 7px;
  }

  .education-title {
    display: inline;
  }

  .education-institution {
    display: inline;
    float: right;
  }

  .lang-item {
    margin-bottom: 25px;
    display: grid;
    align-items: flex-end;
    grid-template-columns: 100px 1fr;
  }

  .lang-bar-bg {
    position: relative;
    bottom: 0.7px;
  }
}

@media (max-width: 700px) {
  .experience-item {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .skill-item {
    grid-template-columns: 1fr;
    margin-bottom: 25px;
  }

  .skill-text {
    margin-bottom: 6px;
  }
}
/*
   color: #e85528;
  background-color: #181818;
  */
